.THIS div.accordion {
    color: #FFFFFF;
    font-weight : bold;
    background-color: #1b5297;
    padding : .5%;
    margin : 10px auto 10px auto ;
    border-radius: 5px;
    cursor : pointer;
}

.THIS div.container {
    margin: 0 .5% 0 0.5%;
}

.THIS div.expandCollapse{
    float:left ;
}
.THIS div.show{
    display:block;
}
.THIS div.hide{
    display:none;
}